# Entorno de Node.js
node_modules/

# Variables de entorno y contraseñas
.env
.env.*

# Archivos de Python / Basura de sistema
__pycache__/
*.pyc
*.sql
**/__pycache__/
.DS_Store

# Excepciones
!respaldos/.gitkeep

.env
node_modules/
.DS_Store
